@import '@styles/mixins.scss';

.dots {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;

  div {
    @include dotsAnimation(1, dots1 0.6s infinite, -8px);
    @include dotsAnimation(2, dots2 0.6s infinite, -8px);
    @include dotsAnimation(3, dots2 0.6s infinite, 8px);
    @include dotsAnimation(4, dots3 0.6s infinite, 32px);
    @include timing(cubic-bezier(0, 1, 1, 0));
    background: #f0262a;
    border-radius: 50%;
    height: 8px;
    position: absolute;
    top: 2px;
    width: 8px;
  }
}

@keyframes dots1 {
  0% {
    @include scale(0);
  }
  100% {
    @include scale(1);
  }
}

@keyframes dots2 {
  0% {
    @include translate(0, 0);
  }
  100% {
    @include translate(24px, 0);
  }
}

@keyframes dots3 {
  0% {
    @include scale(1);
  }
  100% {
    @include scale(0);
  }
}