@use '@/styles/mixins.scss';

.character {
  background-color: #4a4a4acc;
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.characterOverlay {
  @include mixins.flexWrap(wrap);
  @include mixins.linearGradient((10deg, #fcdd60 0%, #f9f9a7 10%, #faf0e6 60%, #fcdd60 100%));
  background-color: #faf0e6;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 3;
}

.character,
.characterOverlay {
  @include mixins.centered;
}